# SPDX-FileCopyrightText: 2024 sirinsidiator
#
# SPDX-License-Identifier: CC0-1.0

.DS_Store
node_modules
/build
/.svelte-kit
/package
/src-tauri
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
